body {
  background-image: url("./bg.jpg");
  background-size: 100vw;
  background-attachment: fixed;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font: lightgrey;
}

h1 {
  padding: 8px;
  margin-left: 21px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

h6 {
  font-size: 26px;
  font-weight: bolder;
  color: lightgrey;
  padding: 8px;
  margin-top: 5px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

p {
  font-size: 18px;
  font-weight: lighter;
  padding: 10px;
}

.app-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 6vh;
  position: fixed;
  z-index: 10;
  color: white;
}

.content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 11vh;
}

.posts-content {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 75vw;
  border:1px solid white;
}

.intro-card {
  background: black;
  color: white;
  width: 20vw;
  height: 89vh;
  border: 1px solid white;
  padding: 15px;
  opacity: 0.9;
  position: fixed;
  left: 1vw;
  top: 11vh;
}

.email-button {
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
}

.header-card{
  background: black;
  border: 1px solid white;
}

.story-card {
  border: 1px solid white;
  color: white;
  padding: 15px;
  background: black;
  opacity: 0.8;
}

.medium-feed-image {
  display: none;
}
